<a href="https://colab.research.google.com/github/brunnabrito/projeto_m4_g4_resilia/blob/vinicius/Projeto_M4_Grupo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='green' style='font-size: 30px;'>Projeto de encerramento do módulo: Análise exploratória dos valores de combustíveis no Brasil nos meses de junho e julho de 2021 </font>
<hr style='border: 2px solid red;'>

## **1. O Grupo**

Grupo 4

* Brunna Brito
  - [GitHub](https://github.com/brunnabrito)
  - [LinkedIn](https://www.linkedin.com/in/brunna-brito/)

* Gabriel Kanarski
  - [GitHub](https://github.com/GKCSV)
  - [LinkedIn](https://www.linkedin.com/in/gabriel-kanarski-8968b9122/)

* Lucas Faria
  - GitHub
  - LinkedIn

* Samyr Ozibel
  - [GitHub](https://github.com/ozibel)
  - [LinkedIn](https://www.linkedin.com/in/samyr-ozibel/)

* Vinícius Costa Souto
  - [GitHub](https://github.com/ViniciusCostaSouto)
  - [LinkedIn](https://www.linkedin.com/in/vin%C3%ADcius-costa-souto-937966164/)

## **2. Descrição do Projeto**

Você e a sua equipe foram escalados pela Agência Nacional de Petróleo e Gás Natural e Biocombustíveis (ANP) para realizar uma análise exploratória relacionada à série histórica de preço de venda da gasolina e do etanol. ANP é um centro de referência em dados e informações sobre a indústria de petróleo e gás natural:

* mantém o Banco de Dados de Exploração e Produção (BDEP);
* promove estudos sobre o potencial petrolífero e o desenvolvimento do setor;
* recebe e torna públicas as notificações de descobertas;
* divulga as estatísticas oficiais sobre reservas, refino e produção de petróleo, gás e biocombustíveis no Brasil.

A ANP também realiza e divulga rotineiramente pesquisas sobre qualidade dos combustíveis e lubrificantes e sobre o comportamento dos preços desses produtos. Consolida e divulga informações sobre os mercados regulados e acerca dos investimentos em pesquisa, inovação e formação profissional voltadas para os setores regulados. 

As fontes de dados que serão utilizadas no projeto estão disponíveis no portal dados.gov. Serão utilizados os arquivos dos meses de junho e julho de 2021 contendo a série histórica dos preços da gasolina e do etanol em todo o Brasil. Para baixar os arquivos, basta clicar nos meses que estão destacados anteriormente.

As perguntas a serem respondidas são:

1) Como se comportaram o preço dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?

2) Qual o preço médio da gasolina e do etanol nesses dois meses?

3) Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?

4) Qual o preço médio da gasolina e do etanol por estado?

5) Qual o município que possui o menor preço para a gasolina e para o etanol?

6) Qual o município que possui o maior preço para a gasolina e para o etanol?

7) Qual a região que possui o maior valor médio da gasolina?

8) Qual a região que possui o menor valor médio do etanol?

9) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?

10) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

O projeto deverá obrigatoriamente:

* Utilizar Jupyter Notebook ou Colab;
* Realizar a limpeza dos dados;
* Realizar análise exploratória;
* O notebook utilizado na análise deve estar organizado, com descrições do passo a passo da análise em markdown, apresentação dos resultados e insights gerados;
* Levantar mais duas perguntas e respondê-las da forma que achar mais adequada.

## **3. Entendendo os Dados**

Nesta etapa estaremos coletando os dados iniciais, descrevendo os referidos dados, bem como explorando os dados com as estatísticas descritivas e por fim, verificando a qualidade de dados.

##### **3.1 Importando as bibliotecas**

**Eixo base**

1. NumPy

Biblioteca de manipulação de arrays multidimensionais de alta performance, possui diversas funções matemáticas e estatísticas.

2. Pandas

Principal biblioteca de manipulação e análise de dados. Possui diversos métodos para agrupar, filtrar, manipular, limpar e combinar dados de forma simples.
<br>

**Data Visualization**

1. Matplotlib

O matplotlib é uma biblioteca com recursos para a geração de gráficos 2D a partir de arrays. 

2. Seaborn

O Seaborn é uma biblioteca de visualização de dados do Python baseado no Matplotlib. Ele provê uma interface de alto nível para construção de gráficos estatísticos atrativos e informativos.

In [ ]:
# Carregando os pacotes do Python necessários 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### **3.2 Coletando os dados iniciais**

Carregar os arquivos dispíveis na ANP

In [ ]:
# Carregando os dados do mês de junho com informações fornecidas pela ANP
jun = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-06-gasolina-etanol.csv", delimiter = ";")
jun.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

In [ ]:
jun['Mes'] = 'junho'

In [ ]:
# Carregando os dados do mês de julho com informações fornecidas pela ANP
jul = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv", delimiter = ";")
jul.head()

In [ ]:
jul['Mes'] = 'julho'

##### **3.3 Unindo os dados**

Para facilitar a manipulação dos dados optamos por unir os datasets originais em um só, como ambos possuem os mesmos dados e tipos nas colunas usaremos a concatenação para fazer essa união

In [ ]:
df = pd.concat([jun, jul], ignore_index=True)

##### **3.4 Descrevendo os dados**

Nessa etapa os dados são descritos com objetivo de conhecermos seu formato, os tipos de variáveis (numéricas ou categóricas), bem como aspectos gerais úteis ao entendimento geral do problema.

In [ ]:
# Conhecendo o formato do dataset.

df.shape

Em uma análise inicial percebe-se que o dataset apresenta um total de 97586 linhas, entradas ou observações, bem como um total de 16 colunas

In [ ]:
# Conhecendo as varíaveis e seus tipos.

df.info()

**Dicionário das variáveis**

* `Região - Sigla` - Coluna que contém a sigla da região específica. No caso: Norte: N, Nordeste: NE, Sul: S, Sudeste: SE, Centro Oeste: CO.
* `Estado - Sigla` - Coluna que contém a sigla do estado específico seguindo nomenclatura oficial.
* `Município` - Coluna que contém o município da bandeira que efetuou a revenda do combustível.
* `Revenda` - Nome do CNPJ que efetuou a revenda do combustível.
* `CNPJ da Revenda` - Número do CNPJ que efetuou a revenda do combustível.
* `Nome da Rua` - Endereço do CNPJ que efetuou a revenda do combustível.
* `Número Rua` - Número do endereço do CNPJ que efetuou a revenda do combustível.
* `Complemento` - Complemento do endereço do CNPJ que efetuou a revenda do combustível.
* `Bairro` - Bairro do endereço do CNPJ que efetuou a revenda do combustível.
* `Cep` - Cep do endereço do CNPJ que efetuou a revenda do combustível.
* `Produto` - Produto que foi vendido pelo CNPJ.
* `Data da Coleta` - xxxxx
* `Valor de Venda` - Valor que foi vendido o litro do combustível vendido.
* `Valor de Compra` - Valor que foi vendido o litro do combustível comprado.
* `Unidade de Medida` - Unidade de medida do valor por litro que foi vendido.
* `Bandeira` - Bandeira do posto de gasolina.

E por fim, nesta etapa, é interessante visualizarmos a estrutura do nosso dataset com a possibilidade de identificação prematura de dados faltantes, possíveis valores discrepantes, dentre outras questões.

In [ ]:
# Visualizar as 5 primeiras linhas do Dataset.

df.head()

In [ ]:
# Visualizar as 5 últimas linhas do Dataset.

df.tail()

## **4. Preparação e limpeza dos dados:** 

Nesta etapa estaremos limpando os dados, integrando os dados, formatando os dados, construindo novos dados, para enfim, selecionar os dados que serão utilizados na construção de nosso modelo (análise exploratória de dados).

##### **4.1 Selecionando os dados**

Verificamos que temos alguns dados que não serão determinantes na nossa análise e optamos por retirá-los para termos mais clareza durante a análise.

In [ ]:
# Selecionando as colunas necessárias para a análise e renomeando colunas para facilitar o acesso aos dados

df = df[['Região - Sigla', 'Estado - Sigla', 'Município', 'Revenda','Produto', 'Valor de Venda', 'Data da Coleta','Bandeira', 'Mes']]
df = df.rename(columns={'Região - Sigla': 'Regiao', 'Estado - Sigla': 'Estado', 'Município':'Municipio', 'Valor de Venda': 'Valor', 'Data da Coleta':'Data'})

##### **4.2 Integração dos Dados**

Conforme exposto em aula a análise poderia ser feita unindo os dois tipos de gasolina, gasolina comum e gasolina aditivada. Aqui faremos a transformação da gasolina aditivada para simplesmente gasolina.

In [ ]:
# Verificando onde o produto é 'GASOLINA ADITIVADA' e convertendo para 'GASOLINA'

df['Produto'][df['Produto'].str.contains('GASOLINA ADITIVADA')] = 'GASOLINA'

##### **4.3 Convertendo os valores**

Identificamos que a coluna valor trata-se de uma variável numérica e vamos converter o valor para float com a substituição da ',' pelo '.'.

In [ ]:
df['Valor'] = df['Valor'].apply(lambda x: float(x.replace(',', '.')))
df

Convertendo as datas para datetime

In [ ]:
df['Data'] = pd.to_datetime(df['Data'], format="%d/%m/%Y")
df.info()

### **4.4 Estatísticas Descritivas**

Agora que já conhecemos a estrutura de nossos dados, passamos para etapa de identificação da qualidade de nossos dados, por meio da aplicação de técnicas de estatística descritiva, com especial atenção para identificação de valores faltantes, presença de outliers, análise de correlações entre as variáveis, dentre outras questões relevantes nesta fase inicial.

Verificar a quantidade de missing em cada coluna após a transformação

In [ ]:
# Cálculo do percentual de dados faltantes no Dataset.

df.isna().sum()

* Não existem valores nulos para serem removidos ou tratados

In [ ]:
# Contrução dos histogramas das variáveis do dataset.

df.hist(bins=15, figsize=(25,15));

**Quanto a distribuição do histograma podemos verificar que:**

* dsjfdsf **`Valor`** kjsljsdl;lf
* dfshdjfksdklf

In [ ]:
# Construindo os resumos estatísticos das variáveis numéricas usando a função describe.

df.describe()

## **Quanto ao resumo das estatísticas, das variáveis numéricas do dataset, podemos verificar que:**

* ksdjkfsdjkfl
* kdsldjsklf

### **4.5 Correlação dos Dados**

verificar a possibilidade de fazer correlação

## **5. Análise exploratória** 

Problemas Investigados

#### ***01: Brunna***

#####1) Como se comportaram o preço dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?

In [ ]:
etanol = df.query('Produto == "ETANOL"')
gasolina = df.query('Produto == "GASOLINA"')

evolucao_precos_etanol = etanol.sort_values(['Data']).groupby('Data')['Valor'].mean()
evolucao_precos_gasolina = gasolina.sort_values(['Data']).groupby('Data')['Valor'].mean()

In [ ]:
fig, ax = plt.subplots(figsize=(18, 6))

# rotacionar das datas
fig.autofmt_xdate()

plt.grid(True)

# Adiconando títulos
plt.title("Evolução dos valores de combustíveis nos meses de junho e julho de 2021", loc='left', fontsize=16, fontweight=0, color='darkslategray')
plt.xlabel("Data")
plt.ylabel("Valor")

# Mostrando a evolução
plt.plot(evolucao_precos_etanol)
plt.plot(evolucao_precos_gasolina)

#Adicionando legenda
legend = plt.legend(['ETANOL','GASOLINA'], title = "Produto", title_fontsize = 20)
legend._legend_box.sep = 18

In [ ]:
df.groupby(['Data','Produto'])['Valor'].describe()

In [ ]:
df.groupby(df['Data'].dt.month).mean()

**Quanto às questões ligadas à evolução dos valores dos combustíveis, podemos verificar que:**

* A **gasolina** começou o mês de junho, com o valor médio de **5,693 reais**  e fechou o mês  de julho com uma média de **5,744 reais**. Apesar das oscilações durante o período o valor manteve-se estável com uma alta de apenas 1%.

* No início de junho o **etanol** estava em **4,517 reais** o litro. E fechou o mês de julho com uma média de **4,404 reais** apresentando uma queda de 2,5%.

* De maneira geral os combustíveis tiveram em junto teve seu preço médio em **5,339 reais** e em julho em **5,432 reais**, tendo um aumento de **1,74 %**

* Comparando os dois combustíveis verificamos que o etanol sofre maior oscilação de valores do que a gasolina que teve seu valor mais estável.

#####2) Qual o preço médio da gasolina e do etanol nesses dois meses?

In [ ]:
df.groupby('Produto')['Valor'].describe()

In [ ]:
df.boxplot(by=["Produto"], figsize=(16,6), fontsize=12, vert=False)

**Quanto às questões ligadas aos valores dos combustíveis, podemos verificar que:**

* O valor médio do **etanol** nos meses de junho e julho de 2021 fica em torno de **4,581 reais**, com desvio padrão de **0,533**, mediana de **4,399 reais**, com valores máximos chegando a **6,999 reais**. Cabendo ressaltar que 75% dos preços estão abaixo do valor de **4,997** reais.

* O valor médio da **gasolina** nos meses de junho e julho de 2021 fica em torno de **5,797 reais**, com desvio padrão de **0,355**, mediana de **5,790 reais**, com valores máximos chegando a **7,097 reais**. Cabendo ressaltar que 75% dos preços estão abaixo do valor de **5,999** reais.

#####3) Sugestão de pergunta:  Quais foram as 3 revendas com maiores e as 3 com menores preços médios no período e em qual estado ela está localizada?

In [ ]:
a = df.groupby(['Estado', 'Revenda'])['Valor'].mean().sort_values(ascending=False)
print(a[:3])
print(a[-3:])

#### ***02: Gabriel***

#####3) Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?

* **Localizando os preços médios de gasolina por Estado:**

In [ ]:
media_gasolina_x_estado=df.loc[df['Produto']=='GASOLINA']
media_gasolina=media_gasolina_x_estado.groupby('Estado').Valor.mean()
media_gasolina

* **Ordenando os dados por valores(decrescentes) para indicação dos 5 primeiros:**

In [ ]:
rank_5_gasolina = media_gasolina.sort_values(ascending=False).reset_index()[:5]

* **Localizando os preços médios do etanol por Estado:**

In [ ]:
media_etanol_x_estado=df.loc[df['Produto']=='ETANOL']
media_etanol=media_etanol_x_estado.groupby('Estado').Valor.mean()
media_etanol

* **Ordenando os dados por valores (decrescentes) para indicação dos 5 primeiros:**

In [ ]:
rank_5_etanol = media_etanol.sort_values(ascending=False).reset_index()[:5]

#####4) Qual o preço médio da gasolina e do etanol por estado?

* **Gasolina x Estado: Cálculo do preço médio da gasolina por Estado:**

In [ ]:
media_gasolina_x_estado=df.loc[df['Produto']=='GASOLINA']
media_gasolina=media_gasolina_x_estado.groupby('Estado').Valor.mean()
media_gasolina

* **Etanol x Estado: Cálculo do preço médio do etanol por Estado:**

In [ ]:
media_etanol_x_estado=df.loc[df['Produto']=='ETANOL']
media_etanol=media_etanol_x_estado.groupby('Estado').Valor.mean()
media_etanol

In [ ]:
media_estados = df.groupby(['Estado', 'Produto'])['Valor'].mean().reset_index()

In [ ]:
fig = plt.figure(figsize=(30,10))
plt.title('Preço médio da gasolina e do etanol no período', fontsize=30)

sns.set(font_scale=2)
sns.barplot(y='Valor', x='Estado', hue='Produto',  data=media_estados, palette='viridis');
plt.ylabel('Valor médio')
plt.xlabel('Estado')
plt.legend(title="Produto")

plt.tight_layout()

#### ***03: Gabriel (era Lucas)***

#####5) Qual o município que possui o menor preço para a gasolina e para o etanol?

* **Localizando o município que possui o MENOR preço de venda de gasolina:**

In [ ]:
menor_gasolina_x_municipio=df.loc[df['Produto']=='GASOLINA']
menor_gasolina=menor_gasolina_x_municipio.groupby('Municipio').Valor.min()
menor_municipio_gasolina=menor_gasolina.sort_values()
menor_municipio_gasolina.head(1)

* **Localizando o município que possui o MENOR preço de venda de etanol:**

In [ ]:
menor_etanol_x_municipio=df.loc[df['Produto']=='ETANOL']
menor_etanol=menor_etanol_x_municipio.groupby('Municipio').Valor.min()
menor_municipio_etanol=menor_etanol.sort_values()
menor_municipio_etanol.head(1)

#####6) Qual o município que possui o maior preço para a gasolina e para o etanol?

* **Localizando o município que possui o MAIOR preço de venda de gasolina:**

In [ ]:
maior_gasolina_x_municipio=df.loc[df['Produto']=='GASOLINA']
maior_gasolina=maior_gasolina_x_municipio.groupby('Municipio').Valor.max()
maior_municipio_gasolina=maior_gasolina.sort_values(ascending=False)
maior_municipio_gasolina.head(1)

* **Localizando o município que possui o MAIOR preço de venda de etanol:**

In [ ]:
maior_etanol_x_municipio=df.loc[df['Produto']=='ETANOL']
maior_etanol=maior_etanol_x_municipio.groupby('Municipio').Valor.max()
maior_municipio_etanol=maior_etanol.sort_values(ascending=False)
maior_municipio_etanol.head(1)

#### ***04: Samyr***

#####7) Qual a região que possui o maior valor médio da gasolina?

In [ ]:
gasol = df.loc[ df['Produto'] == 'GASOLINA' ]
max_reg_gasol = gasol.groupby('Regiao').Valor.mean().sort_values(ascending=False).reset_index()
max_reg_gasol

In [ ]:
max_reg_gasol.max()

In [ ]:
media_regiao = df.groupby(['Regiao', 'Produto'])['Valor'].mean().reset_index()

In [ ]:
fig = plt.figure(figsize=(30,10))
plt.title('Preço médio da gasolina e do etanol no período', fontsize=30)

sns.set(font_scale=2)
sns.barplot(y='Valor', x='Regiao', hue='Produto',  data=media_regiao, palette='viridis');
plt.ylabel('Valor médio')
plt.xlabel('Região')
plt.legend(title="Produto")

plt.tight_layout()

#####8) Qual a região que possui o menor valor médio do etanol?

In [ ]:
etanol = df[df['Produto'].isin(['ETANOL'])]
min_reg_etanol = etanol.groupby('Regiao').agg({'Valor': 'mean'}).sort_values('Valor')
min_reg_etanol

In [ ]:
min_reg_etanol.min()

#### ***05: Vinicius***

#####9) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?

A princípio nós efetuamos a operação para verificar o valor médio por região.

In [ ]:
df_group_reg = df.groupby('Regiao')
data_1 = df_group_reg['Valor'].mean().round(3)
data_1

In [ ]:
ax = data_1.plot.bar(x='Regiao', y='Valor', rot=0)

Após isso, calculamos os valores de média, moda e mediana.

In [ ]:
data_2 = round(df['Valor'].mean(), 2)
data_2

In [ ]:
data_3 = round(df['Valor'].mode(), 2)
data_3

In [59]:
data_4 = round(df['Valor'].median(), 2)
data_4

5.55

E por último, podemos ver o total dos valores por região

In [58]:
df_group_reg = df.groupby(['Regiao'])
data_5 = df_group_reg['Valor'].sum().round(2)
data_5

Regiao
CO     41682.59
N      28382.11
NE    103545.01
S      89543.26
SE    262340.70
Name: Valor, dtype: float64

Analisando essas informações e levando considerações alguns fatores como frete, consumo médio, entre outros. Podemos ver que o valor da gasolina no Sudeste (Menor valor) é R$ 0,47 mais barata do que o valor mais alto, no caso, da região Norte. Isso se leva por conta de vários indicadores, podemos ver acima que o consumo no sudeste é muito maior do que no Norte, por conta disso, a demanda faz a oferta cair. Além disso, o frete do combustível impacta negativamente no preço e afeta bastante a região Norte do país.

#####10) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

In [67]:
df_group_band = df.groupby(['Regiao','Bandeira'])
df_group_band['Valor'].mean().round(3).sort_values()

Regiao  Bandeira
SE      TAURUS                          4.738
        RUFF C.J.                       4.862
        TORRAO                          4.862
S       PELIKANO                        4.916
        UNI                             4.937
                                        ...
N       PETROBRAS DISTRIBUIDORA S.A.    5.811
        IPIRANGA                        5.820
        SP                              5.979
S       SUL COMBUSTÍVEIS                6.071
        CHARRUA                         6.075
Name: Valor, Length: 81, dtype: float64

In [56]:
df_group_band = df.groupby('Bandeira')
df_group_band['Valor'].sum().round(3).sort_values(ascending = False)

Bandeira
BRANCA                          188006.059
PETROBRAS DISTRIBUIDORA S.A.    114250.888
IPIRANGA                         92179.120
RAIZEN                           88116.828
ALESAT                           11185.558
SABBÁ                             5861.789
RAIZEN MIME                       2816.205
ATEM' S                           2701.998
RODOIL                            2168.776
EQUADOR                           1942.136
SP                                1718.882
DISLUB                            1287.944
IDAZA                             1221.530
PETROX DISTRIBUIDORA               873.119
TAURUS                             853.392
CIAPETRO                           735.740
STANG                              697.528
SETTA DISTRIBUIDORA                648.726
CHARRUA                            631.816
TOTAL BRASIL                       613.023
RIO BRANCO                         595.370
SIMARELLI                          541.291
TDC DISTRIBUIDORA                  523.531
AMERICANOIL                        485.311
MASUT DISTRIBUIDORA                406.750
PETROBAHIA                         404.836
ATLÂNTICA                          396.237
FAN                                357.348
POTENCIAL                          311.295
MAXSUL                             301.552
TORRAO                             291.690
TEMAPE                             288.677
FEDERAL ENERGIA                    272.212
SUL COMBUSTÍVEIS                   218.571
ROYAL FIC                          174.181
DIBRAPE                            148.310
WALENDOWSKY                        143.641
TOBRAS                             133.796
PETROSERRA                         129.160
RZD DISTRIBUIDORA                  120.650
REJAILE                            119.498
LARCO                              116.750
SMALL                              112.432
UNI                                103.680
WATT                                81.688
D`MAIS                              59.979
ACOL                                50.882
RUFF C.J.                           48.620
PELIKANO                            29.494
ESTRADA                             15.170
Name: Valor, dtype: float64

## **6. Conclusões**

djfsljdfklajdsklsj;fdljksadl

**Resultados:**


* jldshsjdflkdsj;f
* kldjskljdlka;dskfj;s
* dksljkldsj;ld

In [ ]:
regiao = df.groupby('Regiao')['Valor'].mean()

fig, ax = plt.subplots(figsize = (15, 8))
# gráfico de barras

ax = sns.barplot(x=regiao.index, y=regiao.values, data=regiao,
                 palette="viridis")


# altera o ticklabel do eixo x
ax.set_xticklabels(labels = regiao.index);
# limite do eixo y
ax.set_ylim(0, regiao.values[0]*1.5)
# altera os rótulos e o title
ax.set(xlabel = 'Regiao', ylabel = 'Valor médio em reais')
ax.set_title('Valor médio por regiao', 
             pad = 10, fontsize = 15, fontweight = 'bold')

## **7. Referências**

* https://www.gov.br/anp/pt-br
* https://www.fecombustiveis.org.br/